In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

data = pd.read_csv('/Users/admin/Desktop/Dst-31/movie_bd_v5.csv')
#data.describe()
data.info()
data.original_title.value_counts()

#data.drop_duplicates(subset = 'imdb_id', keep = 'first', inplace = True)
#data[(data.imdb_id == 'tt1966566') & (data.imdb_id == 'tt4178092')]
data[data.imdb_id == 'tt1210819']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.00,2013

In [5]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

data = pd.read_csv('C:/Users/Alex_65/My_First_Experience/module_1/movie_bd_v5.csv')
data.describe()

              budget          revenue  runtime  vote_average  release_year
count       1,889.00         1,889.00 1,889.00      1,889.00      1,889.00
mean   54,310,829.64   155,365,321.08   109.66          6.14      2,007.86
std    48,587,207.45   214,669,813.15    18.02          0.76          4.47
min     5,000,000.00     2,033,165.00    63.00          3.30      2,000.00
25%    20,000,000.00    34,560,577.00    97.00          5.60      2,004.00
50%    38,000,000.00    83,615,414.00   107.00          6.10      2,008.00
75%    72,000,000.00   178,262,620.00   120.00          6.60      2,012.00
max   380,000,000.00 2,781,505,847.00   214.00          8.10      2,015.00

In [7]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

data = pd.read_csv('C:/Users/Alex_65/My_First_Experience/module_1/movie_bd_v5.csv')
data.runtime()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.50,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.10,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.30,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.50,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.30,2015

In [78]:
'''Предобработка'''
import pandas as pd
from itertools import combinations

def f_ser(list): # Функция разделения списка и превращения его в серию (Задачи 11-17, 24, 25)
    return pd.Series(list.split('|'))

def wint(dt): # Функция выделения месяца из даты типа datetime (Задача 23)
    a = dt.timetuple()
    month = a[1]
    if month< 3 or month>11: # Проверка на зимний период
        return 1 # Если зимний месяц
    else:
        return 0
    
def words_count(strng): # Функция подсчета слов в предложении по количеству пробелов (Задача 25)
    while strng.find('  ') > 0:
        strng = strng.replace('  ', ' ')
    return len(strng.split(' '))

def cmb(list): # Функция разделения списка и формирования комбинаций (Задача 27)
    a = sorted(list.split('|')) # Разделение списка и его сортировка (обязательно!!!)
    s = pd.Series([''])
    i = 0
    for item in combinations(a, 2): # Формирование пар имен
        s[i] = ' & '.join(item) 
        i += 1
    return s


pd.options.display.float_format = '{:,.2f}'.format # Отображение данных: 2 знака после запятой

data = pd.read_csv('/Users/admin/Desktop/Dst-31/movie_bd_v5.csv') # Считывание рабочего датасета

data['profit'] = data.revenue-data.budget # Добавляем в таблицу столбец прибыли

data['release_date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y') # Перевод даты string в тип datetime

data.info()
data.describe()

data.imdb_id.value_counts() # Проверка на неповторяемость Id фильмов

data.original_title.value_counts() # Проверка на неповторяемость названий фильмов: выявлено 2 фильма с одинаковыми названиями

'''Убеждаемся, что фильмы с одинаковыми названиями все-таки разные'''
display(data[(data.original_title == 'Fantastic Four') | (data.original_title == 'The Gift')])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 221.5+ KB

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,2015-08-05,4.40,2015,47977595
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,2015-07-30,6.60,2015,53978653
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,2005-07-07,5.60,2005,230579719
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,2000-12-22,6.20,2000,2008642

In [63]:
'''Задача 1: У какого фильма из списка самый большой бюджет? (Вариант 1)'''
result_1 = data[data.budget == data.budget.max()][['imdb_id', 'original_title', 'budget']]

display('Задача 1: У какого фильма из списка самый большой бюджет?', result_1)

'Задача 1: У какого фильма из списка самый большой бюджет?'

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [66]:
'''Задача 1: У какого фильма из списка самый большой бюджет? (Вариант 2)'''
result_1 = data.query('budget==budget.max()')[['imdb_id', 'original_title', 'budget']]

display('Задача 1: У какого фильма из списка самый большой бюджет?', result_1)

'Задача 1: У какого фильма из списка самый большой бюджет?'

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [6]:
'''Задача 2: Какой из фильмов самый длительный (в минутах)?'''
result_2 = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title', 'runtime']]

display('Задача 2: Какой из фильмов самый длительный (в минутах)?', result_2)

'Задача 2: Какой из фильмов самый длительный (в минутах)?'

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

In [7]:
'''Задача 3: Какой из фильмов самый короткий (в минутах)?'''
result_3 = data[data.runtime == data.runtime.min()][['imdb_id', 'original_title', 'runtime']]

display('Задача 3: Какой из фильмов самый короткий (в минутах)?', result_3)

'Задача 3: Какой из фильмов самый короткий (в минутах)?'

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

In [6]:
'''Задача 4: Какова средняя длительность фильмов?'''
result_4 = data.runtime.mean()

display('Задача 4: Какова средняя длительность фильмов?', result_4)

'Задача 4: Какова средняя длительность фильмов?'

109.6585494970884

In [7]:
'''Задача 5: Каково медианное значение длительности фильмов?'''
result_5 = data.runtime.median()

display('Задача 5: Каково медианное значение длительности фильмов?', result_5)

'Задача 5: Каково медианное значение длительности фильмов?'

107.0

In [8]:
'''Задача 6: Какой самый прибыльный фильм?'''
result_6 = data[data.profit == data.profit.max()][['imdb_id', 'original_title', 'profit']]

display('Задача 6: Какой самый прибыльный фильм?', result_6)

'Задача 6: Какой самый прибыльный фильм?'

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

In [9]:
'''Задача 7: Какой фильм самый убыточный?'''
result_7 = data[data.profit == data.profit.min()][['imdb_id', 'original_title', 'profit']]

display('Задача 7: Какой фильм самый убыточный?', result_7)

'Задача 7: Какой фильм самый убыточный?'

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [11]:
'''Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?'''
result_8 = data[data.profit > 0].imdb_id.count()

display('Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?', result_8)

'Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?'

1478

In [68]:
'''Задача 9: Какой фильм оказался самым кассовым в 2008 году?'''
tmp9 = data[data.release_year == 2008] # Оставляем только фильмы за 2008 год
result_9 = group_data9[tmp9.revenue == tmp9.revenue.max()][['imdb_id', 'original_title', 'revenue']]

display('Задача 9: Какой фильм оказался самым кассовым в 2008 году?', result_9)

'Задача 9: Какой фильм оказался самым кассовым в 2008 году?'

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

In [239]:
'''Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?'''
tmp10 = data.query('2011<release_year<2015') # Оставляем только фильмы за 2012-2014 годы
result_10 = tmp10[tmp10.profit == tmp10.profit.min()][['imdb_id', 'original_title', 'profit']]

display('Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?', result_10)

'Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?'

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

In [227]:
'''Задача 11: Какого жанра фильмов больше всего? (Вариант 1)'''
srs11 = pd.Series('')
gnr11 = data.genres.apply(f_ser) # Формируем таблицу из жанров по каждому фильму...

for i in range(len(gnr11.columns)): # ... и определяем количество её столбцов
    srs11 = pd.concat([srs11, gnr11[i]]) # Объединяем столбцы таблицы в один стобец

result_11 = srs11.value_counts() # Ранжируем результат

display('Задача 11: Какого жанра фильмов больше всего?', result_11.head(3))

'Задача 11: Какого жанра фильмов больше всего?'

Drama       782
Comedy      683
Thriller    596
dtype: int64

In [226]:
'''Задача 11: Какого жанра фильмов больше всего? (Вариант 2)'''
srs11 = pd.Series('')

for a in data.genres: # ...формируем список жанров фильмов (Series)...
    srs11 = srs11.append(f_ser(a))

result_11 = srs11.value_counts() # ...и получаем результат
display('Задача 11: Какого жанра фильмов больше всего?', result_11.head(3))

'Задача 11: Какого жанра фильмов больше всего?'

Drama       782
Comedy      683
Thriller    596
dtype: int64

In [225]:
'''Задача 12: Фильмы какого жанра чаще всего становятся прибыльными? (Вариант 1)'''
srs12 = pd.Series('')
gnr12 = data[data.profit > 0].genres.apply(f_ser) # Формируем таблицу из жанров по каждому фильму, имеющему прибыль

for i in range(len(gnr12.columns)):
    srs12 = pd.concat([srs12, gnr12[i]]) # Объединяем столбцы таблицы в один стобец

result_12 = srs12.value_counts() # Ранжируем результат
display('Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?', result_12.head(3))

'Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?'

Drama       560
Comedy      551
Thriller    446
dtype: int64

In [224]:
'''Задача 12: Фильмы какого жанра чаще всего становятся прибыльными? (Вариант 2)'''
srs12 = pd.Series('')
tmp_12 = data[data.profit > 0] # Оставляем только фильмы, имеющие прибыль...

for a in tmp_12.genres: # ...формируем список жанров таких фильмов (Series)...
    srs12 = srs12.append(f_ser(a))

tmp_12 = srs12.value_counts() # ...и получаем результат

display('Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?', result_12.head(3))

'Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?'

Drama       560
Comedy      551
Thriller    446
dtype: int64

In [228]:
'''Задача 13: У какого режиссера самые большие суммарные кассовые сборы?'''
result_13 = pd.DataFrame()

tmp_13 = data.director.apply(f_ser) # Формируем таблицу из режиссеров по каждому фильму
l_colmn = len(tmp_13.columns)
tmp_13[l_colmn] = data.revenue # Добавляем в таблицу столбец с кассовыми сборами

for i in range(l_colmn): # Формируем таблицу из двух столбцов: Режиссер + Кассовые сборы
    result_13 = pd.concat([result_13, tmp_13.groupby([i])[l_colmn].sum()])

result_13 = result_13.groupby([result_13.index])[0].sum().sort_values(ascending=False) # Сортировка по кассовым сборам

display('Задача 13: У какого режиссера самые большие суммарные кассовые сборы?',result_13.head(3))

'Задача 13: У какого режиссера самые большие суммарные кассовые сборы?'

Peter Jackson       6,490,593,685.00
Christopher Nolan   4,167,548,502.00
David Yates         4,154,295,625.00
Name: 0, dtype: float64

In [233]:
'''Задача 14: Какой режисер снял больше всего фильмов в стиле Action? (Вариант 1)'''
srs2 = pd.Series('')
tmp_14 = data[data.genres.str.contains('Action')].director.apply(f_ser) # Таблица из режиссеров фильмов в стиле Action

for i in range(len(tmp_14.columns)): # Объединяем столбцы таблицы в один стобец 
    srs2 = pd.concat([srs2, tmp_14[i]])

result_14 = srs2.value_counts() # Считаем количество фильмов для каждого режиссера

display('Задача 14: Какой режисер снял больше всего фильмов в стиле Action?', result_14.head(3))

'Задача 14: Какой режисер снял больше всего фильмов в стиле Action?'

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
dtype: int64

In [232]:
'''Задача 14: Какой режисер снял больше всего фильмов в стиле Action? (Вариант 2)'''
srs2 = pd.Series('')
tmp_14 = data[data.genres.str.contains('Action')] # Оставляем только фильмы в стиле Action...

for a in tmp_14.director: # ...формируем список режиссеров, снимавших такие фильмы (Series)...
    srs2 = srs2.append(f_ser(a))

result_14 = srs2.value_counts() # ...и получаем результат

display('Задача 14: Какой режисер снял больше всего фильмов в стиле Action?', result_14.head(3))

'Задача 14: Какой режисер снял больше всего фильмов в стиле Action?'

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
dtype: int64

In [230]:
'''Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?'''
result_15 = pd.DataFrame()

filtr = data[data.release_year == 2012] # Ограничиваем круг поиска фильмов
tmp_15 = filtr.cast.apply(f_ser) # Формируем таблицу из актеров по каждому фильму
l_colmn = len(tmp_15.columns) # Считаем количество столбцов полученной таблицы
tmp_15[l_colmn] = filtr.revenue # Добавляем в таблицу столбец с кассовыми сборами

for i in range(l_colmn): # Формируем таблицу из двух столбцов: Актер + Кассовые сборы
    result_15 = pd.concat([result_15, tmp_15.groupby([i])[l_colmn].sum()])

result_15 = result_15.groupby([result_15.index])[0].sum().sort_values(ascending=False) # Сортировка по кассовым сборам

display('Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?',result_15.head(3))

'Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?'

Chris Hemsworth   2,027,450,773.00
Denis Leary       1,629,460,639.00
Anne Hathaway     1,522,851,057.00
Name: 0, dtype: float64

In [231]:
'''Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов? (Вариант 1)'''
result_16 = pd.Series('')
tmp_16 = data[data.budget > data.budget.mean()].cast.apply(f_ser) # Таблица из актеров по фильмам с бюджетом выше среднего

for i in range(len(tmp_16.columns)): # Объединяем столбцы таблицы в один стобец с актерами
    result_16 = pd.concat([result_16, tmp_16[i]])

display('Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?', result_16.value_counts().head(3))

'Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?'

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
dtype: int64

In [220]:
'''Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?  (Вариант 2)'''
result_16 = pd.Series('')
tmp_16 = data[data.budget > data.budget.mean()] # Оставляем фильмы с бюджетом выше среднего...

for a in tmp_16.cast: # ...и формируем список актеров, снявшихся в таких фильмах (Series)
    result_16 = result_16.append(f_ser(a))

display('Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?', result_16.value_counts().head(3))

'Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?'

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
dtype: int64

In [218]:
'''Задача 17. В фильмах какого жанра больше всего снимался Nicolas Cage? (Вариант 1)'''
result_17 = pd.Series('')
tmp_17 = data[data.cast.str.contains('Nicolas Cage')].genres.apply(f_ser) # Оставляем только фильмы с Nicolas Cage...

for i in range(len(tmp_17.columns)): # ...сводим все жанры с его участием в один столбец
    result_17 = pd.concat([result_17, tmp_17[i]])

display('Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?', result_17.value_counts().head(3))

'Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?'

Action      17
Thriller    15
Drama       12
dtype: int64

In [219]:
'''Задача 17. В фильмах какого жанра больше всего снимался Nicolas Cage? (Вариант 2)'''
result_17 = pd.Series('')
tmp_17 = data[data.cast.str.contains('Nicolas Cage')] # Оставляем только фильмы с Nicolas Cage...

for a in tmp_17.genres: # ...сводим все жанры с его участием в один столбец
    result_17 = result_17.append(f_ser(a))

display('Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?', result_17.value_counts().head(3))

'Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?'

Action      17
Thriller    15
Drama       12
dtype: int64

In [150]:
'''Задача 18. Самый убыточный фильм от Paramount Pictures'''
tmp_18 = data[data.production_companies.str.contains('Paramount Pictures')] # Оставляем только фильмы Paramount Pictures
result_18 = tmp_18[tmp_18.profit == tmp_18.profit.min()][['imdb_id', 'original_title', 'profit']]
display('Задача 18: Самый убыточный фильм от Paramount Pictures', result_18)

'Задача 18: Самый убыточный фильм от Paramount Pictures'

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

In [22]:
'''Задача 19. Какой год стал самым успешным по суммарным кассовым сборам? (Вариант 1 - не брать!!!)
itog = pd.DataFrame(columns = ['Year', 'Revenue'])
year_start = data.release_year.min()
year_finish = data.release_year.max()
j = 0
for i in range(year_start, year_finish+1):
    itog.loc[j] = [i, data[data.release_year == i]['revenue'].sum()]
    j += 1
result_19 = itog[itog.Revenue == itog.Revenue.max()][['Year','Revenue']]
display('Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?', result_19)
'''

'Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?'

    Year      Revenue
15  2015  25449202382

In [217]:
'''Задача 19. Какой год стал самым успешным по суммарным кассовым сборам? (Вариант 2)'''
itog = pd.Series(int())

# Проходим по годам и суммируем кассовые сборы по каждому году (результат типа Series)
for year_t in range(data.release_year.min(), data.release_year.max()+1):
    itog = pd.concat([itog, pd.Series([data[data.release_year == year_t]['revenue'].sum()], index=[year_t])])

result_19 = itog.sort_values(ascending=False) # Ранжируем полученный результат

display('Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?', result_19.head(3))

'Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?'

2015    25449202382
2014    23405862953
2013    23213799791
dtype: int64

In [210]:
'''Задача 19. Какой год стал самым успешным по суммарным кассовым сборам? (Вариант 3)'''
# Группируем данные по годам, суммируем кассовые сборы по каждому году и ранжируем результат
result_19 = data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

display('Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?', result_19.head(3))

'Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?'

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

In [215]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 1 - не брать!!!)
tmp_20 = data[data.production_companies.str.contains('Warner Bros')]
itog = pd.DataFrame(columns = ['Year', 'Profit'])

year_start = data.release_year.min()
year_finish = data.release_year.max()
j = 0

for i in range(year_start, year_finish+1):
    itog.loc[j] = [i, tmp_20[tmp_20.release_year == i]['profit'].sum()]
    j += 1

result_20 = itog[itog.Profit == itog.Profit.max()]
display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20)
'''

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

    Year      Profit
14  2014  2295464519

In [213]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 2)'''
tmp_20 = data[data.production_companies.str.contains('Warner Bros')] # Оставляем только фильмы студии Warner Bros

itog = pd.Series(int())

# Проходим по годам и суммируем прибыль по каждому году (результат типа Series)
for year_t in range(tmp_20.release_year.min(), tmp_20.release_year.max()+1):
    itog = pd.concat([itog, pd.Series([tmp_20[tmp_20.release_year == year_t].profit.sum()], index=[year_t])])

result_20 = itog.sort_values(ascending=False) # Ранжируем полученный результат

display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20.head(3))

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

2014    2295464519
2007    2201675217
2008    2134595031
dtype: int64

In [211]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 3)'''
tmp_20 = data[data.production_companies.str.contains('Warner Bros')] # Оставляем только фильмы студии Warner Bros

# Группируем по годам, суммируем прибыль (по годам) и ранжируем полученный результат
result_20 = tmp_20.groupby(['release_year']).profit.sum().sort_values(ascending=False)

display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20.head(3))

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

release_year
2014    2295464519
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

In [234]:
'''Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?'''
result = data.release_date.apply(lambda x: x.timetuple()[1]) # Создаем список из месяцев выхода фильмов...
result_21 = result.value_counts() #...и ранжируем его, получая результат

display('Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?', result_21.head(3))

'Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?'

9     227
12    190
10    186
Name: release_date, dtype: int64

In [200]:
'''Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)'''
tmp_22 = data.release_date.apply(lambda x: x.timetuple()[1]) # Создаем список из месяцев выхода фильмов...
result_22 = tmp_22[(tmp_22>5) & (tmp_22<9)].count() #...,фильтруем его, оставляя только летние месяцы, и считаем их количество

display('Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)', result_22)

'Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)'

450

In [191]:
'''Задача 23: У какого режиссера зима – самое продуктивное время года? (режиссер фильма не один)'''
result_23 = pd.DataFrame()

# Для каждого фильма формируем строку: Режиссеры + Признак сезона выхода фильма (1-зима,0-др.сезоны), и сводим их в один DataFrame
tmp_23 = data.director.apply(f_ser)
l_colmn = len(tmp_23.columns)
tmp_23[l_colmn] = data.release_date.apply(wint)

# Из полученного DataFrame формируем DataFrame из двух столбцов: Режиссер + Признак сезона выхода фильма
for i in range(l_colmn):
    result_23 = pd.concat([result_23, tmp_23.groupby([i])[l_colmn].sum()])

# Группируем, ранжируем и получаем результат
result_23 = result_23.groupby(result_23.index)[0].sum().sort_values(ascending=False) 

display('Задача 23: У какого режиссера зима – самое продуктивное время года?',result_23.head(3))

'Задача 23: У какого режиссера зима – самое продуктивное время года?'

Peter Jackson       7.00
Clint Eastwood      6.00
Steven Soderbergh   6.00
Name: 0, dtype: float64

In [174]:
'''Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?'''
result_24 = pd.DataFrame()

# Для каждого фильма формируем строку из названий студий и количества символов названия данного фильма и сводим их в один DataFrame
tmp_24 = data.production_companies.apply(f_ser)
l_colmn = len(tmp_24.columns)
tmp_24[l_colmn] = data.original_title.apply(lambda x:len(x))

# Из полученного DataFrame формируем DataFrame из двух столбцов: Студия + Количество символов названия фильма
for i in range(l_colmn):
    res_temp = tmp_24[[0, l_colmn]]
    result_24 = pd.concat([result_24, res_temp])
    tmp_24[0] = tmp_24[i+1]

result_24 = result_24.groupby([result_24[0]])[l_colmn].mean().sort_values(ascending=False) # Получаем результат

display('Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?',result_24.index[0])

'Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?'

'Four By Two Productions'

In [173]:
'''Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?'''
result_25 = pd.DataFrame()

# Для каждого фильма формируем строку из названий студий и количества слов описания данного фильма и сводим их в один DataFrame
tmp_25 = data.production_companies.apply(f_ser)
l_colmn = len(tmp_25.columns)
tmp_25[l_colmn] = data.overview.apply(words_count)

# Из полученного DataFrame формируем DataFrame из двух столбцов: Студия + Количество слов
for i in range(l_colmn): 
    res_temp = tmp_25[[0, l_colmn]]
    result_25 = pd.concat([result_25, res_temp])
    tmp_25[0] = tmp_25[i+1]

result_25 = result_25.groupby([0])[l_colmn].mean().sort_values(ascending=False) # Получаем результат

display('Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?',result_25.index[0])

'Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?'

'Midnight Picture Show'

In [36]:
'''Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?'''
# Сортируем по рейтингу и оставляем первые 1/100 фильмов
result_26 = data.sort_values('vote_average', ascending=False).head(int(len(data)/100))

display('Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?',
result_26[['imdb_id', 'original_title', 'vote_average']])

'Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?'

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight          8.10
118   tt0816692                                   Interstellar          8.00
125   tt2084970                             The Imitation Game          8.00
9     tt2096673                                     Inside Out          8.00
34    tt3170832                                           Room          8.00
1183  tt0993846                        The Wolf of Wall Street          7.90
128   tt2267998                                      Gone Girl          7.90
1191  tt2024544                               12 Years a Slave          7.90
119   tt2015381                        Guardians of the Galaxy          7.90
1081  tt0167260  The Lord of the Rings: The Return of the King          7.90
1800  tt0209144                                        Memento          7.90
370   tt1375666                                      Inception          7.90
872   tt0253474                                    The Pianist          7.90
138   tt2278388                       The Grand Budapest Hotel          7.90
1188  tt1798709                                            Her          7.80
28    tt1895587                                      Spotlight          7.80
124   tt2245084                                     Big Hero 6          7.80
177   tt2582846                         The Fault in Our Stars          7.80

In [237]:
'''Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?'''
cast_comb = pd.Series([''])

for item in data.cast: # Формируем комбинации пар актеров по каждому фильму и формирование из них списка (типа Series)
    cast_comb = cast_comb.append(cmb(item))

result_27 = cast_comb.value_counts() # Подсчет и ранжирование полученного результата

display('Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?',result_27.head(5))

'Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?'

Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Daniel Radcliffe & Emma Watson        8
Ben Stiller & Owen Wilson             6
Helena Bonham Carter & Johnny Depp    6
dtype: int64