In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1761,tt0419843,10000000,17500000,In the Land of Women,Meg Ryan|Kristen Stewart|Adam Brody|JoBeth Wil...,Jon Kasdan,Get ready to fall,After a bad breakup with his girlfriend leaves...,97,Romance|Comedy|Drama,Castle Rock Entertainment|Land Films Inc.|Anon...,4/16/2007,6.0,2007
757,tt0409847,163000000,174822325,Cowboys & Aliens,Daniel Craig|Olivia Wilde|Harrison Ford|Sam Ro...,Jon Favreau,First Contact. Last Stand.,A stranger stumbles into the desert town of Ab...,119,Action|Science Fiction|Thriller|Western,Imagine Entertainment|DreamWorks SKG|Universal...,7/29/2011,5.4,2011
307,tt0465580,38000000,45465299,Push,Dakota Fanning|Camilla Belle|Chris Evans|Djimo...,Paul McGuigan,One push can change everything.,"After his father, an assassin, is brutally mur...",111,Action,Icon Productions|Infinity Features Entertainme...,2/6/2009,5.8,2009
1192,tt1411250,38000000,98337295,Riddick,Vin Diesel|Karl Urban|Katee Sackhoff|Jordi Mol...,David Twohy,Survival Is His Revenge,Betrayed by his own kind and left for dead on ...,119,Science Fiction|Action|Thriller,One Race Productions|Radar Pictures|Riddick Ca...,9/2/2013,6.2,2013
281,tt1093908,40000000,108332743,Confessions of a Shopaholic,Isla Fisher|Hugh Dancy|Krysten Ritter|Joan Cus...,P.J. Hogan,A new job? Hopefully. A new man? Possibly. A n...,"In the glamorous world of New York City, Rebec...",104,Comedy|Romance,Jerry Bruckheimer Films|Touchstone Pictures,2/5/2009,6.0,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
# Проверка на неповторяемость Id фильмов в датасете
data.imdb_id.value_counts()

tt0297284    1
tt0387575    1
tt0478304    1
tt3442006    1
tt1586752    1
            ..
tt0472181    1
tt0332280    1
tt0892791    1
tt0358273    1
tt1515091    1
Name: imdb_id, Length: 1889, dtype: int64

In [6]:
# Проверка на неповторяемость названий фильмов в датасете
data.original_title.value_counts()

# Выявлено 2 фильма с одинаковыми названиями

The Gift             2
Fantastic Four       2
Flyboys              1
Self/less            1
Her                  1
                    ..
The Back-Up Plan     1
WALLÂ·E              1
Boogeyman            1
Final Destination    1
Empire State         1
Name: original_title, Length: 1887, dtype: int64

In [7]:
# Убеждаемся, что фильмы с одинаковыми названиями все-таки разные
display(data[(data.original_title == 'Fantastic Four') | (data.original_title == 'The Gift')])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,7/30/2015,6.6,2015
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,7/7/2005,5.6,2005
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,12/22/2000,6.2,2000

# Предобработка

In [8]:
answers = {} # создадим словарь для ответов

# Отображение данных в датасете: 2 знака после запятой
pd.options.display.float_format = '{:,.2f}'.format 

# Перевод даты из формата string в тип в формат datetime
data['release_date'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')

# Добавляем в датасет столбец прибыли
data['profit'] = data.revenue-data.budget


'''Функции, использемыев задачах'''

# Функция разделения списка и превращения его в серию (Задачи 11-17, 24, 25)
def f_ser(list):
    return pd.Series(list.split('|'))


# Функция выделения месяца из даты типа datetime (Задача 23)
def wint(dt):
    a = dt.timetuple()
    month = a[1]
    
    if month< 3 or month>11: # Проверка на зимний период
        return 1 # Если зимний месяц
    else:
        return 0

    
# Функция подсчета слов в предложении по количеству пробелов (Задача 25)
def words_count(strng):
    while strng.find('  ') > 0:
        strng = strng.replace('  ', ' ')
    
    return len(strng.split(' '))


# Функция разделения списка и формирования комбинаций (Задача 27)
def cmb(list):
    a = sorted(list.split('|')) # Разделение списка и его сортировка (обязательно!!!)
    s = pd.Series([''])
    i = 0
    
    for item in combinations(a, 2): # Цикл Формирования пар имен
        s[i] = ' & '.join(item) 
        i += 1
    
    return s

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [9]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) верно'
# +

In [10]:
'''Задача 1: У какого фильма из списка самый большой бюджет? (Вариант 1)'''
result_1 = data[data.budget == data.budget.max()][['imdb_id', 'original_title', 'budget']]

display('Задача 1: У какого фильма из списка самый большой бюджет?', result_1)

'Задача 1: У какого фильма из списка самый большой бюджет?'

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [11]:
'''Задача 1: У какого фильма из списка самый большой бюджет? (Вариант 2)'''
result_1 = data.query('budget==budget.max()')[['imdb_id', 'original_title', 'budget']]

display('Задача 1: У какого фильма из списка самый большой бюджет?', result_1)

'Задача 1: У какого фильма из списка самый большой бюджет?'

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [13]:
'''Задача 2: Какой из фильмов самый длительный (в минутах)?'''
result_2 = data[data.runtime == data.runtime.max()][['imdb_id', 'original_title', 'runtime']]

display('Задача 2: Какой из фильмов самый длительный (в минутах)?', result_2)

'Задача 2: Какой из фильмов самый длительный (в минутах)?'

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [15]:
'''Задача 3: Какой из фильмов самый короткий (в минутах)?'''
result_3 = data[data.runtime == data.runtime.min()][['imdb_id', 'original_title', 'runtime']]

display('Задача 3: Какой из фильмов самый короткий (в минутах)?', result_3)

'Задача 3: Какой из фильмов самый короткий (в минутах)?'

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [16]:
answers['4'] = '2. 110'
# +

In [17]:
'''Задача 4: Какова средняя длительность фильмов?'''
result_4 = data.runtime.mean()

display('Задача 4: Какова средняя длительность фильмов?', round(result_4))

'Задача 4: Какова средняя длительность фильмов?'

110

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = '1. 107'
# +

In [19]:
'''Задача 5: Каково медианное значение длительности фильмов?'''
result_5 = data.runtime.median()

display('Задача 5: Каково медианное значение длительности фильмов?', round(result_5))

'Задача 5: Каково медианное значение длительности фильмов?'

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [21]:
'''Задача 6: Какой самый прибыльный фильм?'''
result_6 = data[data.profit == data.profit.max()][['imdb_id', 'original_title', 'profit']]

display('Задача 6: Какой самый прибыльный фильм?', result_6)

'Задача 6: Какой самый прибыльный фильм?'

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [23]:
'''Задача 7: Какой фильм самый убыточный?'''
result_7 = data[data.profit == data.profit.min()][['imdb_id', 'original_title', 'profit']]

display('Задача 7: Какой фильм самый убыточный?', result_7)

'Задача 7: Какой фильм самый убыточный?'

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1. 1478'
# +

In [25]:
'''Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?'''
result_8 = data[data.profit > 0].imdb_id.count()

display('Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?', result_8)

'Задача 8: У скольких фильмов из датасета объем сборов оказался выше бюджета?'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [27]:
'''Задача 9: Какой фильм оказался самым кассовым в 2008 году?'''
tmp_9 = data[data.release_year == 2008] # Оставляем фильмы только за 2008 год
result_9 = tmp_9[tmp_9.revenue == tmp_9.revenue.max()][['imdb_id', 'original_title', 'revenue']]

display('Задача 9: Какой фильм оказался самым кассовым в 2008 году?', result_9)

'Задача 9: Какой фильм оказался самым кассовым в 2008 году?'

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [29]:
'''Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?'''
tmp_10 = data.query('2011<release_year<2015') # Оставляем только фильмы за 2012-2014 годы
result_10 = tmp_10[tmp_10.profit == tmp_10.profit.min()][['imdb_id', 'original_title', 'revenue']]

display('Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?', result_10)

'Задача 10: Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?'

        imdb_id   original_title   revenue
1245  tt1210819  The Lone Ranger  89289910

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = '3. Drama'
# +

In [31]:
'''Задача 11: Какого жанра фильмов больше всего? (Вариант 1)'''
srs_11 = pd.Series('')
tmp_11 = data.genres.apply(f_ser) # Формируем таблицу из жанров по каждому фильму...

for i in range(len(tmp_11.columns)): # ... и определяем количество её столбцов
    srs_11 = pd.concat([srs_11, tmp_11[i]]) # Объединяем столбцы таблицы в один стобец

result_11 = srs_11.value_counts() # Ранжируем результат

display('Задача 11: Какого жанра фильмов больше всего?', result_11.head(3))

'Задача 11: Какого жанра фильмов больше всего?'

Drama       782
Comedy      683
Thriller    596
dtype: int64

ВАРИАНТ 2

In [32]:
'''Задача 11: Какого жанра фильмов больше всего? (Вариант 2)'''
srs_11 = pd.Series('')

for a in data.genres: # ...формируем список жанров фильмов (Series)...
    srs_11 = srs_11.append(f_ser(a))

result_11 = srs_11.value_counts() # ...и получаем результат
display('Задача 11: Какого жанра фильмов больше всего?', result_11.head(3))

'Задача 11: Какого жанра фильмов больше всего?'

Drama       782
Comedy      683
Thriller    596
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
answers['12'] = '1. Drama'
# +

In [34]:
'''Задача 12: Фильмы какого жанра чаще всего становятся прибыльными? (Вариант 1)'''
srs_12 = pd.Series('')
tmp_12 = data[data.profit > 0].genres.apply(f_ser) # Формируем таблицу из жанров по каждому фильму, имеющему прибыль

for i in range(len(tmp_12.columns)):
    srs_12 = pd.concat([srs_12, tmp_12[i]]) # Объединяем столбцы таблицы в один стобец

result_12 = srs_12.value_counts() # Ранжируем результат
display('Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?', result_12.head(3))

'Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?'

Drama       560
Comedy      551
Thriller    446
dtype: int64

ВАРИАНТ 2

In [35]:
'''Задача 12: Фильмы какого жанра чаще всего становятся прибыльными? (Вариант 2)'''
srs_12 = pd.Series('')
tmp_12 = data[data.profit > 0] # Оставляем только фильмы, имеющие прибыль...

for a in tmp_12.genres: # ...формируем список жанров таких фильмов (Series)...
    srs_12 = srs_12.append(f_ser(a))

tmp_12 = srs_12.value_counts() # ...и получаем результат

display('Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?', result_12.head(3))

'Задача 12: Фильмы какого жанра чаще всего становятся прибыльными?'

Drama       560
Comedy      551
Thriller    446
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [36]:
answers['13'] = '5. Peter Jackson'
# +

In [37]:
'''Задача 13: У какого режиссера самые большие суммарные кассовые сборы? (Вариант 1)'''
result_13 = pd.DataFrame()

tmp_13 = data.director.apply(f_ser) # Формируем таблицу из режиссеров по каждому фильму
l_colmn = len(tmp_13.columns)
tmp_13[l_colmn] = data.revenue # Добавляем в таблицу столбец с кассовыми сборами

for i in range(l_colmn): # Формируем таблицу из двух столбцов: Режиссер + Кассовые сборы
    result_13 = pd.concat([result_13, tmp_13.groupby([i])[l_colmn].sum()])

result_13 = result_13.groupby([result_13.index])[0].sum().sort_values(ascending=False) # Сортировка по кассовым сборам

display('Задача 13: У какого режиссера самые большие суммарные кассовые сборы?',result_13.head(3))

'Задача 13: У какого режиссера самые большие суммарные кассовые сборы?'

Peter Jackson       6,490,593,685.00
Christopher Nolan   4,167,548,502.00
David Yates         4,154,295,625.00
Name: 0, dtype: float64

ВАРИАНТ 2

In [38]:
'''Задача 13: У какого режиссера самые большие суммарные кассовые сборы? (Вариант 2)'''
result_13 = pd.DataFrame()
tmp_13 = pd.DataFrame()

i = 0
for list_dir in data.director: # Формируем DataFrame: Hежиссер + Кассовые сборы
    tmp_13[0] = f_ser(list_dir)
    tmp_13[1] = data.revenue.loc[i]
    i += 1
    result_13 = pd.concat([result_13, tmp_13])

result_13 = result_13.dropna() # Удаляем строки, где есть NaN (не обязательно!)
result_13 = result_13.groupby([0])[1].sum().sort_values(ascending=False) # Получаем результат

display('Задача 13: У какого режиссера самые большие суммарные кассовые сборы?',result_13.head(3))

'Задача 13: У какого режиссера самые большие суммарные кассовые сборы?'

0
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Name: 1, dtype: int64

ВАРИАНТ 3

In [39]:
'''Задача 13: У какого режиссера самые большие суммарные кассовые сборы? (Вариант 3)'''
tmp_13 = data.pivot_table(values=['revenue'],
index=['release_year'],
columns=['director'],
aggfunc='sum',
margins=True,
fill_value=0)

result_13 = tmp_13.loc['All'].sort_values(ascending=False)

display('Задача 13: У какого режиссера самые большие суммарные кассовые сборы?',result_13[1:4])

'Задача 13: У какого режиссера самые большие суммарные кассовые сборы?'

         director
revenue  Peter Jackson        6490593685
         Christopher Nolan    4167548502
         David Yates          4154295625
Name: All, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = '3. Robert Rodriguez'
# +

In [41]:
'''Задача 14: Какой режисер снял больше всего фильмов в стиле Action? (Вариант 1)'''
srs_14 = pd.Series('')
tmp_14 = data[data.genres.str.contains('Action')].director.apply(f_ser) # Таблица из режиссеров фильмов в стиле Action

for i in range(len(tmp_14.columns)): # Объединяем столбцы таблицы в один стобец 
    srs_14 = pd.concat([srs_14, tmp_14[i]])

result_14 = srs_14.value_counts() # Считаем количество фильмов для каждого режиссера

display('Задача 14: Какой режисер снял больше всего фильмов в стиле Action?', result_14.head(3))

'Задача 14: Какой режисер снял больше всего фильмов в стиле Action?'

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
dtype: int64

ВАРИАНТ 2

In [42]:
'''Задача 14: Какой режисер снял больше всего фильмов в стиле Action? (Вариант 2)'''
srs_14 = pd.Series('')
tmp_14 = data[data.genres.str.contains('Action')] # Оставляем только фильмы в стиле Action...

for a in tmp_14.director: # ...формируем список режиссеров, снимавших такие фильмы (Series)...
    srs_14 = srs_14.append(f_ser(a))

result_14 = srs_14.value_counts() # ...и получаем результат

display('Задача 14: Какой режисер снял больше всего фильмов в стиле Action?', result_14.head(3))

'Задача 14: Какой режисер снял больше всего фильмов в стиле Action?'

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [43]:
answers['15'] = '3. Chris Hemsworth'
# +

In [44]:
'''Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? (Вариант 1)'''
result_15 = pd.DataFrame()

filtr = data[data.release_year == 2012] # Ограничиваем круг поиска фильмов
tmp_15 = filtr.cast.apply(f_ser) # Формируем таблицу из актеров по каждому фильму
l_colmn = len(tmp_15.columns) # Считаем количество столбцов полученной таблицы
tmp_15[l_colmn] = filtr.revenue # Добавляем в таблицу столбец с кассовыми сборами

for i in range(l_colmn): # Формируем таблицу из двух столбцов: Актер + Кассовые сборы
    result_15 = pd.concat([result_15, tmp_15.groupby([i])[l_colmn].sum()])

result_15 = result_15.groupby([result_15.index])[0].sum().sort_values(ascending=False) # Сортировка по кассовым сборам

display('Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?',result_15.head(3))

'Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?'

Chris Hemsworth   2,027,450,773.00
Denis Leary       1,629,460,639.00
Anne Hathaway     1,522,851,057.00
Name: 0, dtype: float64

ВАРИАНТ 2

In [45]:
'''Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? (Вариант 2)'''
result_15 = pd.DataFrame()
tmp_15 = pd.DataFrame()

filtr = data[data.release_year == 2012] # Ограничиваем круг поиска фильмов 2012 годом

i = 0

for list_act in filtr.cast: # Формируем DataFrame: Актер + Кассовые сборы
    tmp_15[0] = f_ser(list_act)
    tmp_15[1] = filtr.revenue.loc[filtr.index[i]]
    i += 1
    result_15 = pd.concat([result_15, tmp_15])

result_15 = result_15.dropna() # Удаляем строки, где есть NaN (не обязательно!)
result_15 = result_15.groupby([0])[1].sum().sort_values(ascending=False) # Получаем результат

display('Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?',result_15.head(3))

'Задача 15: Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?'

0
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Name: 1, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [46]:
answers['16'] = '3. Matt Damon'
# +

In [47]:
'''Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов? (Вариант 1)'''
result_16 = pd.Series('')
tmp_16 = data[data.budget > data.budget.mean()].cast.apply(f_ser) # Таблица из актеров по фильмам с бюджетом выше среднего

for i in range(len(tmp_16.columns)): # Объединяем столбцы таблицы в один стобец с актерами
    result_16 = pd.concat([result_16, tmp_16[i]])

display('Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?', result_16.value_counts().head(3))

'Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?'

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
dtype: int64

ВАРИАНТ 2

In [48]:
'''Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?  (Вариант 2)'''
result_16 = pd.Series('')
tmp_16 = data[data.budget > data.budget.mean()] # Оставляем фильмы с бюджетом выше среднего...

for a in tmp_16.cast: # ...и формируем список актеров, снявшихся в таких фильмах (Series)
    result_16 = result_16.append(f_ser(a))

display('Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?', result_16.value_counts().head(3))

'Задача 16: Какой актер снялся в большем количестве высокобюджетных фильмов?'

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [49]:
answers['17'] = '2. Action'
# +

In [50]:
'''Задача 17. В фильмах какого жанра больше всего снимался Nicolas Cage? (Вариант 1)'''
result_17 = pd.Series('')
tmp_17 = data[data.cast.str.contains('Nicolas Cage')].genres.apply(f_ser) # Оставляем только фильмы с Nicolas Cage...

for i in range(len(tmp_17.columns)): # ...сводим все жанры с его участием в один столбец
    result_17 = pd.concat([result_17, tmp_17[i]])

display('Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?', result_17.value_counts().head(3))

'Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?'

Action      17
Thriller    15
Drama       12
dtype: int64

ВАРИАНТ 2

In [51]:
'''Задача 17. В фильмах какого жанра больше всего снимался Nicolas Cage? (Вариант 2)'''
result_17 = pd.Series('')
tmp_17 = data[data.cast.str.contains('Nicolas Cage')] # Оставляем только фильмы с Nicolas Cage...

for a in tmp_17.genres: # ...сводим все жанры с его участием в один столбец
    result_17 = result_17.append(f_ser(a))

display('Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?', result_17.value_counts().head(3))

'Задача 17: В фильмах какого жанра больше всего снимался Nicolas Cage?'

Action      17
Thriller    15
Drama       12
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [53]:
'''Задача 18. Самый убыточный фильм от Paramount Pictures'''
tmp_18 = data[data.production_companies.str.contains('Paramount Pictures')] # Оставляем только фильмы Paramount Pictures
result_18 = tmp_18[tmp_18.profit == tmp_18.profit.min()][['imdb_id', 'original_title', 'profit']]

display('Задача 18: Самый убыточный фильм от Paramount Pictures', result_18)

'Задача 18: Самый убыточный фильм от Paramount Pictures'

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [54]:
answers['19'] = '5. 2015'
# +

In [55]:
'''Задача 19. Какой год стал самым успешным по суммарным кассовым сборам? (Вариант 1)'''
itog = pd.Series(int())

# Проходим по годам и суммируем кассовые сборы по каждому году (результат типа Series)
for year_t in range(data.release_year.min(), data.release_year.max()+1):
    itog = pd.concat([itog, pd.Series([data[data.release_year == year_t]['revenue'].sum()], index=[year_t])])

result_19 = itog.sort_values(ascending=False) # Ранжируем полученный результат

display('Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?', result_19.head(3))

'Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?'

2015    25449202382
2014    23405862953
2013    23213799791
dtype: int64

ВАРИАНТ 2

In [56]:
'''Задача 19. Какой год стал самым успешным по суммарным кассовым сборам? (Вариант 2)'''
# Группируем данные по годам, суммируем кассовые сборы по каждому году и ранжируем результат
result_19 = data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

display('Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?', result_19.head(3))

'Задача 19: Какой год стал самым успешным по суммарным кассовым сборам?'

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [57]:
answers['20'] = '1. 2014'
# +

In [58]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 1)'''
itog = pd.Series(int())

tmp_20 = data[data.production_companies.str.contains('Warner Bros')] # Оставляем только фильмы студии Warner Bros

# Проходим по годам и суммируем прибыль по каждому году (результат типа Series)
for year_t in range(tmp_20.release_year.min(), tmp_20.release_year.max()+1):
    itog = pd.concat([itog, pd.Series([tmp_20[tmp_20.release_year == year_t].profit.sum()], index=[year_t])])

result_20 = itog.sort_values(ascending=False) # Ранжируем полученный результат

display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20.head(3))

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

2014    2295464519
2007    2201675217
2008    2134595031
dtype: int64

ВАРИАНТ 2

In [59]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 2)'''
tmp_20 = data[data.production_companies.str.contains('Warner Bros')] # Оставляем только фильмы студии Warner Bros

# Группируем по годам, суммируем прибыль (по годам) и ранжируем полученный результат
result_20 = tmp_20.groupby(['release_year']).profit.sum().sort_values(ascending=False)

display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20.head(3))

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

release_year
2014    2295464519
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

ВАРИАНТ 3

In [60]:
'''Задача 20. Какой самый прибыльный год для студии Warner Bros? (Вариант 3)'''
filtr = data[data.production_companies.str.contains('Warner Bros')] # Оставляем только фильмы студии Warner Bros

tmp_20 = filtr.pivot_table(values=['profit'],
index=['production_companies'],
columns=['release_year'],
aggfunc='sum',
margins=True,
fill_value=0)

result_20 = tmp_20.loc['All'].sort_values(ascending=False)
display('Задача 20. Какой самый прибыльный год для студии Warner Bros?', result_20[1:4])

'Задача 20. Какой самый прибыльный год для студии Warner Bros?'

        release_year
profit  2014            2295464519
        2007            2201675217
        2008            2134595031
Name: All, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [61]:
answers['21'] = '4. Сентябрь'
# +

In [62]:
'''Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?'''
result = data.release_date.apply(lambda x: x.timetuple()[1]) # Создаем список из месяцев выхода фильмов...
result_21 = result.value_counts() #...и ранжируем его, получая результат

display('Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?', result_21.head(3))

'Задача 21. В каком месяце за все годы суммарно вышло больше всего фильмов?'

9     227
12    190
10    186
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [63]:
answers['22'] = '2. 450'
# +

In [64]:
'''Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)'''
tmp_22 = data.release_date.apply(lambda x: x.timetuple()[1]) # Создаем список из месяцев выхода фильмов...
result_22 = tmp_22[(tmp_22>5) & (tmp_22<9)].count() #...,фильтруем его, оставляя только летние месяцы, и считаем их количество

display('Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)', result_22)

'Задача 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [65]:
answers['23'] = '5. Peter Jackson'
# +

In [66]:
'''Задача 23: У какого режиссера зима – самое продуктивное время года? (режиссеров фильма может быть несколько)'''
result_23 = pd.DataFrame()

# Для каждого фильма формируем строку: Режиссеры + Признак сезона выхода фильма (1-зима,0-др.сезоны), и сводим их в один DataFrame
tmp_23 = data.director.apply(f_ser)
l_colmn = len(tmp_23.columns)
tmp_23[l_colmn] = data.release_date.apply(wint)

# Из полученного DataFrame формируем DataFrame из двух столбцов: Режиссер + Признак сезона выхода фильма
for i in range(l_colmn):
    result_23 = pd.concat([result_23, tmp_23.groupby([i])[l_colmn].sum()])

# Группируем, ранжируем и получаем результат
result_23 = result_23.groupby(result_23.index)[0].sum().sort_values(ascending=False) 

display('Задача 23: У какого режиссера зима – самое продуктивное время года?',result_23.head(3))

'Задача 23: У какого режиссера зима – самое продуктивное время года?'

Peter Jackson       7.00
Clint Eastwood      6.00
Steven Soderbergh   6.00
Name: 0, dtype: float64

ВАРИАНТ 2

In [67]:
'''Задача 23: У какого режиссера зима – самое продуктивное время года? (режиссер фильма не один) (Вариант 2)'''
result_23 = pd.DataFrame()
tmp_23 = pd.DataFrame()

i = 0

for list_dir in data.director: # Формируем DataFrame: Режиссер + Признак выхода фильма зимой
    tmp_23[0] = f_ser(list_dir)
    tmp_23[1] = wint(data.release_date.loc[i])
    i += 1
    result_23 = pd.concat([result_23, tmp_23])

result_23 = result_23.dropna() # Удаляем строки, где есть NaN (не обязательно!)
result_23 = result_23.groupby([0])[1].sum().sort_values(ascending=False) # Получаем результат

display('Задача 23: У какого режиссера зима – самое продуктивное время года?',result_23.head(3))

'Задача 23: У какого режиссера зима – самое продуктивное время года?'

0
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Name: 1, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [68]:
answers['24'] = '5. Four By Two Productions верно'
# +

In [69]:
'''Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов? (Вариант 1)'''
result_24 = pd.DataFrame()

# По каждому фильму формируем строку из названий студий и количества символов названия фильма и сводим их в один DataFrame
tmp_24 = data.production_companies.apply(f_ser)
l_colmn = len(tmp_24.columns)
tmp_24[l_colmn] = data.original_title.apply(lambda x:len(x))

# Из полученного DataFrame формируем DataFrame из двух столбцов: Студия + Количество символов названия фильма
for i in range(l_colmn):
    res_temp = tmp_24[[0, l_colmn]]
    result_24 = pd.concat([result_24, res_temp])
    tmp_24[0] = tmp_24[i+1]

result_24 = result_24.groupby([result_24[0]])[l_colmn].mean().sort_values(ascending=False) # Получаем результат

display('Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?',result_24.head(3))

'Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?'

0
Four By Two Productions   83.00
Jim Henson Company, The   59.00
Dos Corazones             47.00
Name: 5, dtype: float64

ВАРИАНТ 2

In [70]:
'''Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов? (Вариант 2)'''
result_24 = pd.DataFrame()
tmp_24 = pd.DataFrame()

i = 0
# Формируем DataFrame: Студия + Длина названия фильма
for list_comp in data.production_companies:
    tmp_24[0] = f_ser(list_comp)
    tmp_24[1] = len(data.original_title.loc[i])
    i += 1
    result_24 = pd.concat([result_24, tmp_24])

result_24 = result_24.dropna() # Удаляем строки, где есть NaN (не обязательно!)
result_24 = result_24.groupby([0])[1].mean().sort_values(ascending=False) # Получаем результат

display('Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?',result_24.head(3))

'Задача 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?'

0
Four By Two Productions   83.00
Jim Henson Company, The   59.00
Dos Corazones             47.00
Name: 1, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [71]:
answers['25'] = '3. Midnight Picture Show'
# +

In [72]:
'''Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов? (Вариант 1)'''
result_25 = pd.DataFrame()

# Для каждого фильма формируем строку из названий студий и количества слов описания данного фильма и сводим их в один DataFrame
tmp_25 = data.production_companies.apply(f_ser)
l_colmn = len(tmp_25.columns)
tmp_25[l_colmn] = data.overview.apply(words_count)

# Из полученного DataFrame формируем DataFrame из двух столбцов: Студия + Количество слов
for i in range(l_colmn): 
    res_temp = tmp_25[[0, l_colmn]]
    result_25 = pd.concat([result_25, res_temp])
    tmp_25[0] = tmp_25[i+1]

result_25 = result_25.groupby([0])[l_colmn].mean().sort_values(ascending=False) # Получаем результат

display('Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?',result_25.head())

'Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?'

0
Midnight Picture Show              175.00
Room 9 Entertainment               161.00
98 MPH Productions                 159.00
Heineken Branded Entertainment     159.00
Brookwell-McNamara Entertainment   156.00
Name: 5, dtype: float64

ВАРИАНТ 2

In [73]:
'''Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов? (Вариант 2)'''
result_25 = pd.DataFrame()
tmp_25 = pd.DataFrame()

i = 0
# Формируем DataFrame: Студия + Длина описания фильма
for list_comp in data.production_companies:
    tmp_25[0] = f_ser(list_comp)
    tmp_25[1] = words_count(data.overview.loc[i])
    i += 1
    result_25 = pd.concat([result_25, tmp_25])

result_25 = result_25.dropna() # Удаляем строки, где есть NaN (не обязательно!)
result_25 = result_25.groupby([0])[1].mean().sort_values(ascending=False) # Получаем результат

display('Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?',result_25.head())

'Задача 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?'

0
Midnight Picture Show              175.00
Room 9 Entertainment               161.00
98 MPH Productions                 159.00
Heineken Branded Entertainment     159.00
Brookwell-McNamara Entertainment   156.00
Name: 1, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [74]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [75]:
'''Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?'''

# Сортируем по рейтингу и оставляем первые 1/100 фильмов
result_26 = data.sort_values('vote_average', ascending=False).head(int(len(data)/100))

display('Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?',
result_26[['imdb_id', 'original_title', 'vote_average']])

'Задача 26. Какие фильмы входят в 1 процент лучших по рейтингу?'

        imdb_id                                 original_title  vote_average
599   tt0468569                                The Dark Knight          8.10
118   tt0816692                                   Interstellar          8.00
125   tt2084970                             The Imitation Game          8.00
9     tt2096673                                     Inside Out          8.00
34    tt3170832                                           Room          8.00
1183  tt0993846                        The Wolf of Wall Street          7.90
128   tt2267998                                      Gone Girl          7.90
1191  tt2024544                               12 Years a Slave          7.90
119   tt2015381                        Guardians of the Galaxy          7.90
1081  tt0167260  The Lord of the Rings: The Return of the King          7.90
1800  tt0209144                                        Memento          7.90
370   tt1375666                                      Inception          7.90
872   tt0253474                                    The Pianist          7.90
138   tt2278388                       The Grand Budapest Hotel          7.90
1188  tt1798709                                            Her          7.80
28    tt1895587                                      Spotlight          7.80
124   tt2245084                                     Big Hero 6          7.80
177   tt2582846                         The Fault in Our Stars          7.80

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [76]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [77]:
'''Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?'''
tmp_27 = pd.Series([''])

for item in data.cast: # Формируем комбинации пар актеров по каждому фильму и формирование из них списка (типа Series)
    tmp_27 = tmp_27.append(cmb(item))

result_27 = tmp_27.value_counts() # Подсчет и ранжирование полученного результата

display('Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?',result_27.head(5))

'Задача 27. Какие актеры чаще всего снимаются в одном фильме вместе?'

Daniel Radcliffe & Emma Watson        8
Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Helena Bonham Carter & Johnny Depp    6
Ben Stiller & Owen Wilson             6
dtype: int64

ВАРИАНТ 2

# Submission

In [78]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650) верно',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions верно',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [79]:
# и убедиться что ни чего не пропустил)
len(answers)

27